development:
  uri: 'mongodb://127.0.0.1/mcavoy-dev'
  consumer_key: value
  consumer_secret: value
  access_token: value
  access_token_secret: value
  list_id: value

test:
  uri: 'mongodb://127.0.0.1/mcavoy-test'
  consumer_key: value
  consumer_secret: value
  access_token: value
  access_token_secret: value
  list_id: value

production:
  uri: 'mongodb://127.0.0.1/mcavoy-prod'
  consumer_key: value
  consumer_secret: value
  access_token: value
  access_token_secret: value
  list_id: value
