<div class="row tweet-row">
  <div class="col-md-2 left-column">
    <div class="metrics-container">
      <div>394</div>
      <div class="delta-container">
        <div class="arrow"></div>
        <div class="number">34.5%</div>
      </div>
    </div>
  </div>
  <div class="col-md-10 right-column">
    <div class="source-container">2015-12-26T17:42:57.511Z - <b>The Associated Press</b></div>
    <div class="title">'Plane wreckage' found in Thailand fuels talk of missing Malaysian jet</div>
    <div class="links-container">
      <div><a href="https://t.co/LZx6du3YgM">https://t.co/LZx6du3YgM</a></div>
      <div><a href="https://t.co/LZx6du3YgM">https://t.co/LZx6du3YgM</a></div>
      <div><a href="https://t.co/LZx6du3YgM">https://t.co/LZx6du3YgM</a></div>
    </div>
  </div>
</div>
