.modal-content {
  border-radius: 0 !important;
}

#newsreport-modal-popup {
  padding: 20px;
  h2 {
    margin: 0;
    font-size: 18px;
  }

  #severity-levels {
    padding-top:15px;
    .level-yellow { color: #FACC2E; }
    .level-orange { color: #FF8000; }
    .level-red    { color: #FE2E2E; }

    .level-description {
      font-size: 15px;
      padding-bottom: 10px;

      span {
        font-family: Arial;
        font-weight: bold;
        letter-spacing: -1px;
        font-size: 17px;
      }
    }

    .level {
      float:left;

      .level-title {
        font-size:16px;
        font-weight: bold;
        text-align:center;
        background-color: #EEE;
        border: 1px solid #DDD;
        padding: 15px;
      }

      .level-value {
        padding: 20px;
        text-align: center;
        font-size:16px;
        font-weight: bold;
        border: 1px solid #EEE;
      }
    }
  }

  .source-container {
    font-size:12px;
    text-transform: uppercase;
    color:#999;
    display: inline-block;
  }
}

#source-modal-popup {
  .modal-header {
    background-size: cover;
  }

  #source-information {
    padding-left: 10px;
  }

  .source-logo {
    padding-top: 4px;
  }

  .metric {
    font-weight: bold;
    font-size: 16px;
  }

  h3 {
    font-family: Arial;
    font-weight: bold;
    letter-spacing: -1px;
    color: black;
  }
}
