.tweet-row {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 20px;

  .left-column {
    border-left: 3px solid #FACC2E;

    .metrics-container {
      width: 100%;
      text-align: center;
      font-size: 25px;
      font-weight: bold;

      .delta-container {
        display:inline-block;

        .arrow {
          width:0;
          height:0;
          border-left: 8px solid transparent;
          border-right:8px solid transparent;
          border-bottom: 8px solid #CCC;
          padding-top:4px;
          float:left
        }

        .number {
          float:left; padding-left: 4px; font-size: 11px;
        }
      }
    }
  }

  .right-column {
    .source-container {
      font-size:12px;
      text-transform: uppercase;
      color:#999;
    }

    .title {
      font-size: 18px;
    }

    .links-container {
      font-size:11px;
      padding-top: 6px;
      opacity: 0.3;
      transition: opacity 0.5s linear;

      div {
        background-color: #eee;
        border: 1px solid #ddd;
        padding: 3px;
        display:inline-block;
        border-radius: 3px;
      }
    }

    .links-container:hover {
      opacity: 1;
    }
  }
}
