.modal-content {
  border-radius: 0 !important;
}

#source-modal-popup {
  .modal-header {
    background-size: cover;
  }

  #source-information {
    padding-left: 10px;
  }

  .source-logo {
    padding-top: 4px;
  }

  .metric {
    font-weight: bold;
    font-size: 16px;
  }

  h3 {
    font-family: Arial;
    font-weight: bold;
    letter-spacing: -1px;
    color: black;
  }
}
